
article{
    margin: 20px;
    padding: 10px;
    background-color: rgb(242, 242, 242);
    outline: none;
    font-size: 20px;
}

div {
    display: flex;
}

button {

    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: 1px;

    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer; /* Cursor style */
    outline: none;
    width: 30px;
}

button:hover {
    background-color: #0066d2;
}

input{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: 1px;
}

